.talk {
  width: 100%;
  position: absolute;
  width: 100vw;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background: $linear-blue;
  min-height: 100vh;
  &__content-recipient-infos {
    position: fixed;
    top: 3em;
    background-color: $color-white;
    width: 100%;
    &__content {
      display: flex;
      align-items: center;
      &__img {
        & img {
          width: 3em;
          height: 3em;
          border-radius: 2em;
          margin: 0 1em 0em 0.5em;
        }
        & div {
          height: 0.7em;
          width: 0.7em;
          border-radius: 2em;
          position: absolute;
          bottom: 0.2em;
          left: 2.9em;
        }
      }
      & h3 {
        font-size: 1.2em;
        font-weight: bold;
        padding-right: 0.2em;
      }
      p {
        font-size: 1em;
        color: $color-dark;
        position: relative;
        top: 0.1em;
      }
    }
  }

  &__content-container {
    width: 100%;
    padding-top: 6.5em;
    padding-bottom: 2.5em;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0.5em;

    &__content {
      width: 100%;
      margin-bottom: 0.5em;
      &__client {
        width: 100%;
        &__time {
          display: flex;
          justify-content: center;
          font-weight: bold;
          color: $color-grey;
          font-size: 0.6em;
          margin-bottom: 0.5em;
        }
        &__text {
          display: flex;
          justify-content: flex-end;
          & p {
            background-color: $color-white;
            color: $color-blue;
            text-align: left;
            border-radius: 1em;
            border-bottom-right-radius: 0;
            padding: 0 0.5em;
            margin-right: 0.5em;
            word-wrap: break-word;
            max-width: calc(100% - 6em);
          }
        }
      }
      &__recipient {
        width: 100%;
        margin-bottom: 0.5em;
        &__time {
          display: flex;
          justify-content: center;
          font-weight: bold;
          color: $color-grey;
          font-size: 0.6em;
          margin-bottom: 0.5em;
        }
        &__text {
          display: flex;
          justify-content: flex-start;
          max-width: calc(100% - 2em);
          align-items: flex-end;
          & img {
            width: 2em;
            height: 2em;
            border-radius: 2em;
            margin: 0 1em 0 0.5em;
          }
          & p {
            background-color: $color-other-blue;
            color: $color-white;
            text-align: right;
            border-radius: 1em;
            border-bottom-left-radius: 0;
            padding: 0 0.5em;
            margin-right: 0.5em;
            word-wrap: break-word;
          }
        }
      }
    }
  }
  &__send-container {
    background-color: transparent;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    &__input {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: flex-end;
      width: 100%;
      background-color: transparent;
      & textarea {
        resize: none;
        min-height: 2.3em;
        border: none;
        background-color: $color-white;
        font-size: 1.2em;
        min-width: 85%;
        max-width: 85%;
      }
      & button {
        width: 15%;
        height: 3em;
        padding: 0 1em;
        border: none;
        border-left: $color-other-blue 3px solid;

        background-color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        & svg {
          color: $color-other-blue;
        }
      }
    }
  }
}
